<div class="center_content">
      <div class="oferta"> <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
          <div class="oferta_title"></div>
          <div class="oferta_text"></div>
          <a href="http://www.free-css.com/" class="prod_buy">details</a> </div>
      </div>
      <div class="center_title_bar">Latest Products</div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Makita 156 MX-VL</a></div>
          <div class="product_img"><img src="images/&#3648;&#3588;&#3619;&#3639;&#3656;&#3629;&#3591;&#3617;&#3639;&#3629;&#3610;&#3635;&#3610;&#3633;&#3604;/c1.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="index.php?p=detials&id=c1" class="prod_details">Details</a> </div>
      </div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Bosch XC</a></div>
          <div class="product_img"><img src="images/&#3648;&#3588;&#3619;&#3639;&#3656;&#3629;&#3591;&#3617;&#3639;&#3629;&#3610;&#3635;&#3610;&#3633;&#3604;/c2.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="index.php?p=detials&id=c2" class="prod_details">Details</a> </div>
      </div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Lotus PP4</a></div>
          <div class="product_img"><img src="images/&#3648;&#3588;&#3619;&#3639;&#3656;&#3629;&#3591;&#3617;&#3639;&#3629;&#3610;&#3635;&#3610;&#3633;&#3604;/c3.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="index.php?p=detials&id=c3" class="prod_details">Details</a> </div>
      </div>
    </div>