<div class="center_content">
      <div class="oferta"> <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
          <div class="oferta_title"></div>
          <div class="oferta_text"></div>
          <a href="http://www.free-css.com/" class="prod_buy">details</a> </div>
      </div>
      <div class="center_title_bar">&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3634;&#3619;&#3649;&#3614;&#3607;&#3618;&#3660;</div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Makita 156 MX-VL</a></div>
          <div class="product_img"><a href="http://www.free-css.com/"><img src="images/&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3634;&#3619;&#3649;&#3614;&#3607;&#3618;&#3660;/b1.jpg" width="94" height="71" /></a></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="details_b1.html" class="prod_details">Details</a> </div>
      </div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Bosch XC</a></div>
          <div class="product_img"><img src="images/&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3634;&#3619;&#3649;&#3614;&#3607;&#3618;&#3660;/b2.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="details_b2.html" class="prod_details">Details</a> </div>
      </div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Lotus PP4</a></div>
          <div class="product_img"><img src="images/&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3634;&#3619;&#3649;&#3614;&#3607;&#3618;&#3660;/b3.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="details_b3.html" class="prod_details">Details</a> </div>
      </div>
      <div class="prod_box">
        <div class="center_prod_box">
          <div class="product_title"><a href="http://www.free-css.com/">Makita 156 MX-VL</a></div>
          <div class="product_img"><img src="images/&#3629;&#3640;&#3611;&#3585;&#3619;&#3603;&#3660;&#3585;&#3634;&#3619;&#3649;&#3614;&#3607;&#3618;&#3660;/b4.jpg" width="94" height="71" /></div>
          <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="prod_details_tab"> <a href="http://www.free-css.com/" class="prod_buy">Add to Cart</a> <a href="details_b4.html" class="prod_details">Details</a> </div>
      </div>
    </div>